<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <% if(articles){ %>
        <% articles.forEach(article => { %>
            <div>
                <h1><%= article.title %> - <%= article.author %></h1>
                <button><a href="/articles/<%= article.slug %>">Go to Article</a></button>
            </div>
       <%  }) %>
   <% }else { %>
    <h1>No Articles Available</h1>
   <% } %>
</body>
</html>